

body {
  background-color: #D8EACC;
}

h1 {
  text-align: center;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
}

img{
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  padding-top: 25px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
tr:nth-child(even) {background-color: #f2f2f2;}

ul{
  text-align: left
  color: navy;
  font-size: 130%;
  margin-left: 50px;
}
p{
  font-family: "Times New Roman", Times, serif;
  font-size: 130%;
  margin-left: 10px;
}
a{
  text-align: left;
  font-size: 120%;
  margin-left: 10px;
}

footer{
  background-color: #000;
  position: relative;
  height:100px;
  margin-top: -50px;
  clear: both;
  text-align: center;
  font-size: 70%
}

#bold{
  color:black;font-weight:bold
}
#portada{
  float: right;
  height: auto;
  width:20%;
  margin-right:30px;
}

a:hover {
  background-color: teal;

}

.links{
  font-size: 110%;
  margin-top: 200px;
  left-margin :15px;
}

@media screen and (max-width: 1200px) {
  body {
    background-color: lightblue;
  }
}

*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
}
#container{
  min-height: 100%;
  margin-left: 10px;
  padding-top: : 50px;
}
#main{
  overflow: auto;
  padding-bottom: 100px;
}

#pie{
  color: white;
}

#back{
  text-align: center;
}
