body {
  background-color: lightblue;
}

h1 {
  text-align: center;
  color: navy;
  margin-left: 50px;
}

img{
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;


}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 5px
  padding-bottom: 5px
}

ul{
  text-align: center color: navy;
  margin-left: 20px;
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
