body {
  background-color: lightblue;
}

h1 {
  text-align: center color: navy;
  margin-left: 50px;
}

img{
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 5px
  padding-top: 5px

}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul{
  text-align: center color: navy;
  margin-left: 20px;
}
